*{
    margin: 0px;
    padding: 0px;
    font-family: 'Overpass', sans-serif;
}
p{
    font-size: 15px;
}

main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background: hsl(216, 12%, 8%);
    align-items: center;
}

.first-layer{
    margin-top: 20px;
    width: 350px;
    height: 350px;
    background: hsl(213, 19%, 18%,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    padding: 20px;
}
.star{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: hsla(213, 19%, 18%, 1);
    display: flex;
    align-content: center;
    justify-content: center;
}
.star img{
    width: 20px;
    height: 20px;
    align-self: center;
}
.row1-2{
    color: hsl(0, 0%, 100%);
}
.row1-2 p{
    font-size: 40px;
    font-weight: 700;
}
.row1-3,.row1-4{
    color: hsl(217, 12%, 63%);
}
.row1-4{
    display: flex;
    justify-content: space-between;
}
.circle{
    width: 50px;
    height: 50px;
    background:hsla(213, 19%, 18%,1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row1-5{
    width: 100%;
    height: 40px;
    background:hsl(25, 97%, 53%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*active state foe layer 1*/
.circle:hover{
    background: hsla(216, 12%, 54%,1);
    color: white;
    cursor: pointer;
}
.circle:active{
    color: white;
    background: hsl(25, 97%, 53%);
}
.row1-5:hover{
    background:white ;
    color:hsl(25, 97%, 53%) ;
    cursor: pointer;
}